
@model User;

@{
    ViewData["Title"] = "Home";
    var items = new List<SelectListItem> {

        new SelectListItem("item 1", "1"),
        new SelectListItem("item 2", "2"),
        new SelectListItem("item 3", "3"),
        new SelectListItem("item 4", "4"),
        new SelectListItem("item 5", "5")
    };
}

<script>
    $(function () {
        $("#userGrid").data("jondoGrid").dataSource.read();
    });
</script>
@(Html.Jondo().DropDownListFor(a => a.OptionId)
                    .DataSource(a => a.Read(read => read.Controller("Home").Action("GetDropDownList"))))
<br />


<h4>This is a demo of the jondo Grid</h4>

@(Html.Jondo().Grid<User>
            ()
            .Id("userGrid")
            .Columns(column =>
            {
                column.Add().BindTo(a => a.Id);
                column.Add().BindTo(a => a.Username);
                column.Add().BindTo(a => a.FirstName);
                column.Add().BindTo(a => a.LastName);
                column.Add().BindTo(a => a.Email);
                column.Add().BindTo(a => a.PhoneNumber);
                column.Add().BindTo(a => a.Birthday);
                column.Add().BindTo(a => a.IsActive);

            })
            .DataSource(a => a.Read(read => read.Controller("Home").Action("GetUsers")))
            .Resizable(true)
            .Sortable(true)
            .Paging(new int[]{ 20, 50, 100}, 20))
@*@(Html.Jondo().DropDownListFor(a => a.OptionId)
    .DataSource(a => a.Read(read => read.Controller("Home").Action("GetDropDownList"))))*@
